/**
 * Created by Sergiu Ghenciu on 09/01/2018
 */
@import '../../vars';

.costpots {
  .graph {
    .row {
      border-bottom: 1px solid #e0e0e0;
    }

    .col {
      position: relative;
    }
  }

  costpot {
    width: 33.3333333%;
    max-width: 200px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .costpot {
    //min-height: 100px;
  }

  .level-name {
    display: none;
  }

  .domain-3 {
    .level-name {
      display: block;
      width: 100%;
    }

    @media #{$large-and-up} {
      .level-name {
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
      }
    }
  }
  .content {
    h1.stretch {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
