<footer class="page-footer transparent">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="version white-text">
          See: v<span app-version></span>
        </div>

        <div class="links-block">
          <a>About</a>|<a>Contact</a>|<a>Terms & Conditions</a>|<a>Privacy Policy - ©</a>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="footer-copyright black-text">
        <div class="container">
            See: v<span app-version></span>
        </div>
    </div>-->
</footer>