<div class="col-xs-12">
    <!-- Sankey SOURCE -->
    <div ng-if="chartInfo.type === 'sankey' && chartInfo.sourceGrouping.all" ng-class="calculateWidth('source')">
        <div class="dropdown no-gutter">
            <div class="col-xs-10">
                <button ng-class="'dropdown-toggle btn btn-block btn-' + ((chartInfo.sourceGrouping.selected.display) ? 'default' : 'primary')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ chartInfo.sourceGrouping.selected.display || "Add Level" }}
                    <span ng-if="!chartInfo.sourceGrouping.selected.display" class="fa fa-plus"></span>
                </button>
                <ul ng-if="!chartInfo.sourceGrouping.selected.display" class="dropdown-menu">
                    <li ng-repeat="value in chartInfo.sourceGrouping.all"
                        ng-click="changeChartSourceClassification(value)">
                        <a>{{ value.display }}</a>
                    </li>
                </ul>
            </div>
            <div ng-if="chartInfo.sourceGrouping.selected.display" class="col-xs-2">
                <button class="btn btn-default btn-block" ng-click="removeChartSource(chartInfo.sourceGrouping.selected)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>

        <!-- SOURCE GROUPBY -->
        <div ng-if="chartInfo.sourceGrouping.selected.display" class="dropdown no-gutter">
            <div class="col-xs-12 filter-group">
                <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ chartInfo.sourceGrouping.selected.activeGroupBy.display || "Select Group By" }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="value in chartInfo.sourceGrouping.selected.groupBy"
                        ng-click="changeChartSourceGrouping(value)">
                        <a class="input-padding"><input ng-model="chartInfo.sourceGrouping.selected.activeGroupBy.display" ng-value="value.display" type="radio">{{ value.display }}</a>
                    </li>
                </ul>
            </div>

            <!-- SOURCE FILTERS -->
            <!--<div class="col-xs-2 filter-group filters pull-right">-->
            <!--<button class="btn btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
            <!--<span class="fa fa-filter"></span>-->
            <!--</button>-->

            <!--<div class="dropdown-menu keep-open">-->
            <!--<div ng-repeat="filterGroup in getFilterList(chartInfo.sourceGrouping.selected) track by $index" class="panel panel-default">-->
            <!--<div class="panel-heading" data-toggle="collapse" href="#panel{{$index}}">{{ filterGroup.groupBy }}</div>-->
            <!--<div id="panel{{$index}}" class="panel-body panel-collapse collapse">-->
            <!--<ul>-->
            <!--<li><a class="input-padding" ng-click="clearFilters($event, filterGroup.all)">Clear All</a></li>-->
            <!--<li ng-repeat="filter in filterGroup.all" ng-click="toggleFilter($event, filter)">-->
            <!--<a class="input-padding"><input type="checkbox" ng-model="filter.selected" ng-value="filter.selected">{{ filter.name | decodeURIComponent }}</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    <!-- Sankey GROUPS -->
    <div ng-repeat="sel in chartInfo.sankeyClassification.selected | limitTo: 4 track by $index"
         ng-class="calculateWidth('level', sel.display) + (!sel.display ? ' add-level' : '') + ((filterDropdownList().length === 0) ? ' hide-add' : '')">

        <div ng-if="isDropdownVisible(sel)">
            <div class="dropdown no-gutter">
                <div ng-class="(sel.display) ? 'col-xs-10' : 'col-xs-12'">
                    <button ng-class="'dropdown-toggle btn btn-block btn-' + ((sel.display) ? 'default' : 'primary')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ sel.display || "Add Level" }}
                        <span ng-if="!sel.display" class="fa fa-plus"></span>
                    </button>
                    <ul ng-if="!sel.display && filterDropdownList().length > 0" class="dropdown-menu">
                        <li ng-repeat="value in filterDropdownList()"
                            ng-click="changeChartLevelClassification(value, $parent.$index)">
                            <a>{{ value.display }}</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="sel.display" class="col-xs-2">
                    <button class="btn btn-default btn-block" ng-click="removeChartGrouping(chartInfo.sankeyClassification.selected[$index].level, chartInfo.sankeyClassification.selected[$index].display)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>

            <!-- GROUPS CLASSIFICATION -->
            <div ng-if="sel.display" class="dropdown no-gutter">
                <div class="col-xs-12 filter-group">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ sel.activeGroupBy.display }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="value in sel.groupBy"
                            ng-click="changeChartLevelGrouping(value, $parent.$index)">
                            <a class="input-padding"><input ng-model="sel.activeGroupBy.display" ng-value="value.display" type="radio">{{ value.display }}</a>
                        </li>
                    </ul>
                </div>

                <!-- GROUPS FILTERS -->
                <!--<div class="col-xs-2 filter-group filters pull-right">-->
                <!--<button class="btn btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                <!--<span class="fa fa-filter"></span>-->
                <!--</button>-->

                <!--<div class="dropdown-menu keep-open">-->
                <!--<div ng-repeat="filterGroup in getFilterList(sel) track by $index" class="panel panel-default">-->
                <!--<div class="panel-heading" data-toggle="collapse" href="#panel{{$parent.$index}}-{{$index}}">{{ filterGroup.groupBy }}</div>-->
                <!--<div id="panel{{$parent.$index}}-{{$index}}" class="panel-body panel-collapse collapse">-->
                <!--<ul>-->
                <!--<li><a class="input-padding" ng-click="clearFilters($event, filterGroup.all)">Clear All</a></li>-->
                <!--<li ng-repeat="filter in filterGroup.all" ng-click="toggleFilter($event, filter)">-->
                <!--<a class="input-padding"><input type="checkbox" ng-model="filter.selected" ng-value="filter.selected">{{ filter.name | decodeURIComponent }}</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Level?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ selectedForDelete.name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirmRemoveChartGrouping()">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="changeLevel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Level?</h4>
            </div>
            <div class="modal-body">
                Change Level
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="changeChartLevel()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reset" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reset Diagram?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to reset Cost Flow sankey diagram?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirmRemoveChartSource()">Reset</button>
            </div>
        </div>
    </div>
</div>