/**
 * Created by Sergiu Ghenciu on 23/12/2017
 */

@import '../customized-vendors/materialize-css/sass/components/color-variables';
@import '../customized-vendors/materialize-css/sass/components/variables';

$primary-font-family: 'Roboto', sans-serif;

$header-height: 50px;
$breadcrumbs-height: 50px;
$footer-height: 50px;

$top-nav-height: 79px;
$reports-nav-height: 50px;
$filter-toolbar-height: 64px;

$heading-height: 112px;
